<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.narutoultimatequiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Genin"></activity>
        <activity android:name=".Score" />
        <activity android:name=".Question_15" />
        <activity android:name=".Question_14" />
        <activity android:name=".Question_13" />
        <activity android:name=".Question_12" />
        <activity android:name=".Question_11" />
        <activity android:name=".Question_10" />
        <activity android:name=".Question_9" />
        <activity android:name=".Question_8" />
        <activity android:name=".Question_7" />
        <activity android:name=".Question_6" />
        <activity android:name=".Question_5" />
        <activity android:name=".Question_4" />
        <activity android:name=".Question_3" />
        <activity android:name=".Question_2" />
        <activity android:name=".Question_1" />
        <activity android:name=".Questions" />
        <activity android:name=".StartingScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>