<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Home Page</title>
	    <meta charset="utf-8"/>
	    <link rel="stylesheet" th:href="@{/css/home.css}"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 		
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>
	<body>
	<form th:action="@{/sacuvaj-bioskop}" th:object="${bioskop}" method="post">
  <div class="form-group">
    <label for="naziv">Naziv:</label>
    <input type="text" class="form-control" id="naziv" th:field="*{naziv}"/>
  </div>
  <div class="form-group">
    <label for="adresa">Adresa:</label>
    <input type="text" class="form-control" id="adresa" th:field="*{adresa}"/>
  </div>
  <div class="form-group">
    <label for="brCentrale">Broj centrale:</label>
    <input type="text" class="form-control" id="brCentrale" th:field="*{brCentrale}"/>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" th:field="*{email}"/>
  </div>
  
  
 
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default">Potvrdi dodavanje bioskopa</button>
</form>
	</body>
</html>