<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Kada tabela bude bila popunjena, bice omogucen pregled korisnika</h2>           
  <table class="table table-hover">
    <thead>
      <tr>
      <th>Id</th>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Kontakt</th>
        <th>Datum rodjenja</th>
        <th>Email</th>
        <th>Uloga</th>
        <th>Korisnicko ime</th>
        <th>Loznika</th>
        <th>Aktivan</th>
      </tr>
    </thead>
    <tbody>
    
     	 <tr th:each="kor : ${korisnici}">
     	 <td th:text="${kor.id}"></td>
        <td th:text="${kor.name}"></td>
        <td th:text="${kor.surname}"></td>
        <td th:text="${kor.contactTel}"></td>
        <td th:text="${kor.Date}"></td>
        <td th:text="${kor.email}"></td>
        <td th:text="${kor.role}"></td>
        <td th:text="${kor.userName}"></td>
        <td th:text="${kor.password}"></td>
        <td th:text="${kor.active}"></td>
      </tr>
     
    </tbody>
  </table>
</div>

</body>
</html>